@charset "UTF-8";

/* catamaran-100 - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 100;
  src: url('font/catamaran-v5-latin_latin-ext-100.eot');
  src: local('Catamaran Thin'), local('Catamaran-Thin'),
       url('font/catamaran-v5-latin_latin-ext-100.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-100.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-100.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-100.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-100.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* catamaran-200 - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: url('font/catamaran-v5-latin_latin-ext-200.eot');
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'),
       url('font/catamaran-v5-latin_latin-ext-200.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-200.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-200.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-200.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-200.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* catamaran-300 - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  src: url('font/catamaran-v5-latin_latin-ext-300.eot');
  src: local('Catamaran Light'), local('Catamaran-Light'),
       url('font/catamaran-v5-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-300.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-300.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-300.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-300.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* catamaran-regular - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: url('font/catamaran-v5-latin_latin-ext-regular.eot');
  src: local('Catamaran Regular'), local('Catamaran-Regular'),
       url('font/catamaran-v5-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-regular.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-regular.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-regular.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-regular.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* catamaran-500 - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  src: url('font/catamaran-v5-latin_latin-ext-500.eot');
  src: local('Catamaran Medium'), local('Catamaran-Medium'),
       url('font/catamaran-v5-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-500.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-500.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-500.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-500.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* catamaran-700 - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: url('font/catamaran-v5-latin_latin-ext-700.eot');
  src: local('Catamaran Bold'), local('Catamaran-Bold'),
       url('font/catamaran-v5-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-700.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-700.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-700.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-700.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* catamaran-600 - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  src: url('font/catamaran-v5-latin_latin-ext-600.eot');
  src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'),
       url('font/catamaran-v5-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-600.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-600.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-600.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-600.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* catamaran-800 - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: url('font/catamaran-v5-latin_latin-ext-800.eot');
  src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'),
       url('font/catamaran-v5-latin_latin-ext-800.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-800.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-800.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-800.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-800.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* catamaran-900 - latin_latin-ext */

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 900;
  src: url('font/catamaran-v5-latin_latin-ext-900.eot');
  src: local('Catamaran Black'), local('Catamaran-Black'),
       url('font/catamaran-v5-latin_latin-ext-900.eot?#iefix') format('embedded-opentype'),
       url('font/catamaran-v5-latin_latin-ext-900.woff2') format('woff2'),
       url('font/catamaran-v5-latin_latin-ext-900.woff') format('woff'),
       url('font/catamaran-v5-latin_latin-ext-900.ttf') format('truetype'),
       url('font/catamaran-v5-latin_latin-ext-900.svg#Catamaran') format('svg');
  font-display: 'swap';
}

/* roboto-100 - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('font/roboto-v19-latin_latin-ext-100.eot');
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('font/roboto-v19-latin_latin-ext-100.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-100.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-100.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-100.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-100.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-300 - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('font/roboto-v19-latin_latin-ext-300.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
       url('font/roboto-v19-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-300.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-300.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-300.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-300.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-100italic - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url('font/roboto-v19-latin_latin-ext-100italic.eot');
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
       url('font/roboto-v19-latin_latin-ext-100italic.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-100italic.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-100italic.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-100italic.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-100italic.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-regular - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('font/roboto-v19-latin_latin-ext-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
       url('font/roboto-v19-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-regular.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-regular.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-regular.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-regular.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-300italic - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('font/roboto-v19-latin_latin-ext-300italic.eot');
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('font/roboto-v19-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-300italic.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-300italic.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-300italic.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-300italic.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-italic - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('font/roboto-v19-latin_latin-ext-italic.eot');
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('font/roboto-v19-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-italic.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-italic.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-italic.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-italic.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-500 - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('font/roboto-v19-latin_latin-ext-500.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('font/roboto-v19-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-500.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-500.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-500.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-500.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-500italic - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('font/roboto-v19-latin_latin-ext-500italic.eot');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('font/roboto-v19-latin_latin-ext-500italic.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-500italic.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-500italic.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-500italic.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-500italic.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-700italic - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('font/roboto-v19-latin_latin-ext-700italic.eot');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
       url('font/roboto-v19-latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-700italic.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-700italic.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-700italic.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-700italic.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-700 - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('font/roboto-v19-latin_latin-ext-700.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('font/roboto-v19-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-700.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-700.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-700.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-700.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-900 - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('font/roboto-v19-latin_latin-ext-900.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
       url('font/roboto-v19-latin_latin-ext-900.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-900.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-900.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-900.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-900.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* roboto-900italic - latin_latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('font/roboto-v19-latin_latin-ext-900italic.eot');
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
       url('font/roboto-v19-latin_latin-ext-900italic.eot?#iefix') format('embedded-opentype'),
       url('font/roboto-v19-latin_latin-ext-900italic.woff2') format('woff2'),
       url('font/roboto-v19-latin_latin-ext-900italic.woff') format('woff'),
       url('font/roboto-v19-latin_latin-ext-900italic.ttf') format('truetype'),
       url('font/roboto-v19-latin_latin-ext-900italic.svg#Roboto') format('svg');
  font-display: 'swap';
}

/* defaults */

p {
  line-height: 1.4;
}
*, *:hover, *:active, *:focus {
    outline: none !important;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
::-moz-selection {
    background: #cd2a3e;
    color: #fff;
}
::-webkit-selection {
    background: #cd2a3e;
    color: #fff;
}
::selection {
    background: #cd2a3e;
    color: #fff;
}
*::-moz-selection {
    background: #cd2a3e;
    color: #fff;
}
*::-webkit-selection {
    background: #cd2a3e;
    color: #fff;
}
*::selection {
    background: #cd2a3e;
    color: #fff;
}
.no-event {
    pointer-events: none;
}
a:hover,
a:active,
a:focus {
    color: #cd2a3e;
    text-decoration: underline;
}
.btn-outline-secondary {
    color: #cd2a3e;
    border-color: #cd2a3e;
}
.btn-primary:active,
.btn-secondary:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-success:active,
.btn-dark:active,
.btn-primary:focus,
.btn-secondary:focus,
.btn-info:focus,
.btn-warning:focus,
.btn-danger:focus,
.btn-success:focus,
.btn-dark:focus {
  color: #fff !important;
  text-decoration: none !important;
}
.btn-light:active,
.btn-light:focus {
  color: #222 !important;
  text-decoration: none !important;
}
.elovalaszto-logomark-animation-container {
  position: relative;
  width: 302.33px;
  height: 60px;
  display: block;
}
.elovalaszto-logomark,
.elovalaszto-logotype {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: auto;
}
a:hover > .elovalaszto-logomark-animation,
a:active > .elovalaszto-logomark-animation,
a:focus > .elovalaszto-logomark-animation {
  animation: elovalaszto-logomark-animation 1s infinite;
}
@keyframes elovalaszto-logomark-animation {
  0% {transform: scale( .75 );}
  20% {transform: scale( 1 );}
  40% {transform: scale( .75 );}
  60% {transform: scale( 1 );}
  80% {transform: scale( .75 );}
  100% {transform: scale( .75 );}
}
.elovalasztas-h100center {
  height: calc(100vh - 54px);
  align-items: center;
}
.elovalasztas-h50end {
  height: 50vh;
  align-items: flex-end;
}
.form-group label {
    font-weight: 600;
    color: #444;
    font-size: 12px;
    letter-spacing: .5px;
}
.main-footer .footer-left,
.main-footer .footer-right {
    float: unset;
    text-align: center;
}
.main-content {
  min-height: calc(100vh - 54px) !important;
}
.main-footer {
  margin-top: -8px;
}
.main-sidebar {
  background-color: #f4f6f9;
}
.main-sidebar .sidebar-menu li.active a {
    color: #436f4d;
    font-weight: 600;
    background-color: #fafbfc;
}
.main-sidebar .sidebar-menu li a:hover,
.main-sidebar .sidebar-menu li a:active,
.main-sidebar .sidebar-menu li a:focus {
    background-color: #fff;
}
.dropdown-menu {
  border-radius: 0;
}
.main-sidebar aside#sidebar-wrapper {
  background-color: #f4f6f9;
}
.main-sidebar .sidebar-menu li.active > ul.dropdown-menu li a:hover {
  background-color: #fdfdfe;
}
body.sidebar-mini .main-sidebar .sidebar-menu>li.active>a {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.sidebar-mini .main-sidebar .sidebar-menu>li>a {
  border-radius: 0;
}
.dropdown-list .dropdown-list-content:not(.is-end):after {
  display: none;
}
.btn-elovalaszto-global-topright {
  margin: 0 auto;
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: normal;
}
body.sidebar-mini .main-sidebar:after {
    background-color: #f4f6f9;
}
.margin-right-15 {
  margin-right: 15px;
}
.marginbottom-15 {
  margin-bottom: 15px;
}

@media (max-width: 499px) {
  .under-500 {
    display: block !important;
    width: 100% !important;
  }
  .under-500-marginbottom-15 {
    margin-bottom: 15px !important;
  }
}
.btn-ahang {
  background-color: #ff2400 !important;
  color:  #fff !important;
  text-decoration: none !important;
  padding: 5px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}
.btn-ahang:hover,
.btn-ahang:active,
.btn-ahang:focus {
  background-color: #f0f !important;
  color:  #fff !important;
  text-decoration: none !important;
}
.card .card-body p {
    font-weight: 400;
}
.accordion .accordion-header h4 {
  line-height: 1.4;
}
.accordion .accordion-body, .accordion .accordion-header {
  margin-bottom: 10px;
}

/* adatok */

.szemelyes-adatok-torlese a {
  text-decoration: none !important;
  color:  #fff !important;
  padding: 10px 0 !important;
}

/* display */

body.elovalaszto.display {
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
  background: url("../img/elovalaszto-default-image-1920x1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
  overflow-x: hidden;
}
body.elovalaszto.display .navbar-bg,
body.elovalaszto.display .navbar,
body.elovalaszto.display .main-sidebar {
  display: none;
}
body.elovalaszto.display .main-content {
  padding: 0;
  width: 100%;
  position: relative;
}
body.elovalaszto.display .main-footer {
  padding: 20px;
  margin: 0;
  display: inline-block;
  width: 100%;
  color: #aaa;
  border:  none;
}
@media (max-width: 768px) {
  body.elovalaszto.display .main-footer {display: none;}
  body.elovalaszto.display .elovalasztas-h100center {height: 100vh;}
}
body.elovalaszto.display .card {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.03);
    box-shadow: 0 4px 8px rgba(0,0,0,.03);
    background-color: transparent;
    border-radius: 0;
    border: none;
    position: relative;
    margin-bottom: 30px;
    width: 302.33px;
    margin: 0 auto;
}
body.elovalaszto.display .card .card-header-logo {
  line-height: unset;
  min-height: unset;
  padding: 0;
  border-bottom: none;
}
body.elovalaszto.display .card .card-header-text {
  border-bottom-color: #f4f6f9;
}
body.elovalaszto.display .card .card-header h4 {
  margin: 0 auto;
  color: #f4f6f9;
}
body.elovalaszto.display .card .card-body {
    margin: 0 auto;
    color: #f4f6f9;
}
body.elovalaszto.display .card .card-footer {
  padding: 0px 0px 20px 0px;
}
body.elovalaszto.display .card .card-footer .btn {
  margin: 0 auto;
  display: block;
  width: 100%;
  line-height: 1.4;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f4f6f9;
  border-color: #f4f6f9;
}
body.elovalaszto.display .card .card-footer .btn-outline-secondary {
  margin-bottom: 20px;
}
body.elovalaszto.display:before {
    background-color: rgba(0,0,0,.5);
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
}
body.elovalaszto.display .elovalaszto-white-btn-home:hover,
body.elovalaszto.display .elovalaszto-white-btn-home:active,
body.elovalaszto.display .elovalaszto-white-btn-home:focus {
  color: #cd2a3e !important;
  background-color: #fff !important;
}
body.elovalaszto.display footer .footer-right span {
  display: none;
}
body.elovalaszto.display footer .footer-right {
  margin-top: 0;
}
body footer .footer-right {
  margin-top: 10px;
}

/* checkbox + radio */

.input.checkbox input[type="checkbox"], .input.radio input[type="checkbox"], .input.checkbox input[type="radio"], .input.radio input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.input.checkbox input[type="checkbox"]:focus + label:before, .input.radio input[type="checkbox"]:focus + label:before, .input.checkbox input[type="radio"]:focus + label:before, .input.radio input[type="radio"]:focus + label:before, .input.checkbox input[type="checkbox"]:hover + label:before, .input.radio input[type="checkbox"]:hover + label:before, .input.checkbox input[type="radio"]:hover + label:before, .input.radio input[type="radio"]:hover + label:before {
  border-color: #436f4d;
  background-color: #f2f2f2;
}
.input.checkbox input[type="checkbox"]:active + label:before, .input.radio input[type="checkbox"]:active + label:before, .input.checkbox input[type="radio"]:active + label:before, .input.radio input[type="radio"]:active + label:before { transition-duration: 0s; }

.input.checkbox input[type="checkbox"] + label, .input.radio input[type="checkbox"] + label, .input.checkbox input[type="radio"] + label, .input.radio input[type="radio"] + label {
  position: relative;
  padding-left: 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
}
.input.checkbox input[type="checkbox"] + label:before, .input.radio input[type="checkbox"] + label:before, .input.checkbox input[type="radio"] + label:before, .input.radio input[type="radio"] + label:before {
  box-sizing: content-box;
  content: '';
  color: #436f4d;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: -12px;
  border: 2px solid #436f4d;
  text-align: center;
  transition: all 0.4s ease;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}
.input.checkbox input[type="checkbox"] + label:after, .input.radio input[type="checkbox"] + label:after, .input.checkbox input[type="radio"] + label:after, .input.radio input[type="radio"] + label:after {
  box-sizing: content-box;
  content: '';
  background-color: #436f4d;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}
.input.checkbox input[type="checkbox"]:disabled + label:before, .input.radio input[type="checkbox"]:disabled + label:before, .input.checkbox input[type="radio"]:disabled + label:before, .input.radio input[type="radio"]:disabled + label:before {
  border-color: #ccc;
}
.input.checkbox input[type="checkbox"]:disabled:focus + label:before, .input.radio input[type="checkbox"]:disabled:focus + label:before, .input.checkbox input[type="radio"]:disabled:focus + label:before, .input.radio input[type="radio"]:disabled:focus + label:before, .input.checkbox input[type="checkbox"]:disabled:hover + label:before, .input.radio input[type="checkbox"]:disabled:hover + label:before, .input.checkbox input[type="radio"]:disabled:hover + label:before, .input.radio input[type="radio"]:disabled:hover + label:before { background-color: inherit;
}
.input.checkbox input[type="checkbox"]:disabled:checked + label:before, .input.radio input[type="checkbox"]:disabled:checked + label:before, .input.checkbox input[type="radio"]:disabled:checked + label:before, .input.radio input[type="radio"]:disabled:checked + label:before { background-color: #ccc;
}
.input.checkbox input[type="checkbox"] + label:after, .input.radio input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 12px;
  height: 7px;
  margin-top: -7px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}
.input.checkbox input[type="checkbox"]:checked + label:after, .input.radio input[type="checkbox"]:checked + label:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}
.input.checkbox input[type="radio"]:checked + label:before, .input.radio input[type="radio"]:checked + label:before {
  animation: borderscale 300ms ease-in;
  background-color: #fff;
}
.input.checkbox input[type="radio"]:checked + label:after, .input.radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.input.checkbox input[type="radio"] + label:before, .input.radio input[type="radio"] + label:before, .input.checkbox input[type="radio"] + label:after, .input.radio input[type="radio"] + label:after {
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}
.input.checkbox input[type="checkbox"]:checked + label:before, .input.radio input[type="checkbox"]:checked + label:before {
  animation: borderscale 200ms ease-in;
  background: #436f4d;
}
.input.checkbox input[type="checkbox"]:checked + label:after, .input.radio input[type="checkbox"]:checked + label:after {
  transform: rotate(-45deg) scale(1);
}
@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #436f4d;
  }
}

/* addVolounteer */

body.elovalaszto.addVolounteer .input.checkbox input[type=checkbox]+label:before,
body.elovalaszto.addVolounteer .input.checkbox input[type=radio]+label:before,
body.elovalaszto.addVolounteer .input.radio input[type=checkbox]+label:before,
body.elovalaszto.addVolounteer .input.radio input[type=radio]+label:before {
margin-top: -12px;
}
body.elovalaszto.addVolounteer .input.checkbox input[type=checkbox]+label:after,
body.elovalaszto.addVolounteer .input.radio input[type=checkbox]+label:after {
  margin-top: -6px;
}
body.elovalaszto.addVolounteer .input.date {
  margin-bottom: 25px;
}
body.elovalaszto.addVolounteer .input select.form-control {
  margin-bottom: 20px;
}

/* file */

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  display: none;
  opacity: 0;
}
label[for="submittedfile"] {
  -webkit-box-shadow: 0 2px 6px #82d3f8;
  box-shadow: 0 2px 6px #82d3f8;
  background-color: #3abaf4;
  border-color: #3abaf4;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding: .3rem .8rem;
  letter-spacing: .5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer; cursor: hand;
  margin-bottom: 15px;
  width: 100%;
}
label[for="submittedfile"]:hover, label[for="submittedfile"]:focus, label[for="submittedfile"]:active {
  background-color: #0da8ee !important;
}

/* pdf how*/

img.pdfhow {
  max-width: 100%;
  -webkit-filter: drop-shadow(.25rem .25rem .25rem gray);
  filter: drop-shadow(.25rem .25rem .25rem gray);
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  border-radius: .25rem;
}

/* custom lead */

.section-lead.elovalaszto-custom:first-of-type {
  font-size: 18px;
  color: #222;
  font-weight: 600;
  position: relative;
  margin: 30px 0 25px;
  line-height: 1.2;
}
.section-lead.elovalaszto-custom {
  margin-top: -20px;
  margin-left: 45px;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 400;
  color: #777;
  margin-bottom: 1.4rem;
}

.error-message {
  color: #cd2a3e;
}