        <section class="section">
          <div class="section-header">
            <h1><?php echo __('Gyik') ?></h1>
          </div>
          <div class="section-body">
            <!-- <h2 class="section-title">Alcím</h2>
            <p class="section-lead">Leírás.</p> -->
            <div class="card">
              <div class="card-header">
                <h4>Gyakran ismételt kérdések</h4>
              </div>
              <div class="card-body">
              	<!-- </p> -->
                Hamarosan...
              <!-- </p> -->
              </div>
              <!-- <div class="card-footer bg-whitesmoke">
                Láb
              </div> -->
            </div>
          </div>
        </section>